.carousel-indicators .active {
  background-color: $colour-primary;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fff;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  display: flex;
  z-index: 15;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
